* {
  box-sizing: border-box;
}

body {
  margin: 24px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.04em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  color: #2e2f42;
}

body > p {
  margin-bottom: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
}

h1 {
  font-size: 24px;
  font-weight: 600;
}

h1:has(#name-output) {
  margin-top: 16px;
}

ul {
  list-style: none;
  padding: 0;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 24px;
  row-gap: 48px;
}

.gallery-image {
  width: 360px;
  height: 300px;
  object-fit: cover;
}

.gallery li {
  height: 300px;
}

#categories ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#categories .item {
  width: 392px;
  height: auto;
  background-color: #f6f6f6;
  border-radius: 8px;
  margin-bottom: 24px;
  padding: 16px;
}

#categories li h2 {
  margin-bottom: 16px;
}

#categories .item ul li,
input {
  display: flex;
  align-items: center;
  width: 360px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #808080;
  padding: 8px 16px;
}

input:hover {
  border: 1px solid #000;
}

input:focus-visible {
  border: 1px solid #808080;
  outline: none;
}

input,
input::placeholder {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  letter-spacing: 0.64px;
  font-size: 16px;
  font-weight: 400;
  color: #2e2f42;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 8px;
}

.login-form input {
  margin-top: 8px;
}

.widget {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
}

#boxes,
#controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 16px;
  border-radius: 8px;
  background: #f6f6fe;
  padding: 32px;
}

#controls input {
  width: 150px;
  text-align: center;
  flex-direction: column;
  background: #f6f6fe;
  border-radius: 8px;
}

#boxes {
  flex-wrap: wrap;
  row-gap: 16px;
  margin-top: 16px;
}

button {
  font-family: "Montserrat", sans-serif;
  height: 40px;
  border: none;
  border-radius: 8px;
  background: #4e75ff;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.64px;
  padding: 8px 16px;
}

#controls button[data-destroy] {
  background-color: #ff4e4e;
}

#controls button {
  width: 120px;
}

.login-form button {
  margin-top: 8px;
}

.change-color:hover,
.login-form button:hover {
  background: #6c8cff;
}
