* {
  box-sizing: border-box;
}

body {
  margin: 24px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.04em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  color: #2e2f42;
}

body p {
  margin-bottom: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
}

label,
input,
input::placeholder {
  color: #2e2f42;
  font-size: 16px;
}

h1 {
  font-size: 24px;
}

ul {
  list-style: none;
  padding: 0;
  font-size: 16px;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 24px;
  row-gap: 48px;
}

.gallery-image {
  width: 360px;
  height: 300px;
  object-fit: cover;
}

.gallery li {
  height: 300px;
}

#categories .item {
  width: 392px;
  height: auto;
  background-color: #f6f6f6;
  border-radius: 8px;
  margin-bottom: 24px;
  padding: 16px;
}

#categories li h2 {
  margin-bottom: 16px;
}

ul:not(#categories):not(.gallery) {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

input,
li:not(.item):not(.gallery li) {
  display: flex;
  align-items: center;
  width: 360px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #808080;
  padding: 8px 16px;
}

body h1 {
  margin-top: 16px;
}

.login-form input {
  margin: 8px 0;
}

.login-form button {
  margin-top: 8px;
  width: 86px;
  height: 40px;
  border: none;
  border-radius: 8px;
  background: #4e75ff;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
}
